.error-indicator {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.error-indicator img {
    margin-bottom: 1rem;
}

.error-indicator .boom {
    font-size: 3rem;
}