.image {
    height: 200px;
    background-size: contain;
}

.store-item {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-column-gap: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.store-item-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        text-align: center;
    }

    padding: 10px;
    margin: 10px;
    height: 220px;
    width: 150px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    img {
        height: 100px;
    }
    &:hover {
        transform: scale(1.1); 
    }
}

.store-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        text-align: center;
        margin-top: 10px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .store-item {
        grid-template-columns: repeat(3, 150px);
    }
}

@media (min-width: 510px) and (max-width: 699px) {
    .store-item {
        grid-template-columns: repeat(2, 150px);
    }
}

@media (max-width: 509px) {
    .store-item {
        grid-template-columns: repeat(1, 150px);
    }
}