.main-app {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./bg-fortnite.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}