@import '../../index.scss';

.main-app {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: lightgreen;
    // overflow: auto;
}