.header-app {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-app {
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: rgb(21, 32, 68);
    color: white;
    ul {
        flex-grow: 1;
    }
    a:hover {
        text-decoration: none;
    }
}

.logo-item {
    color: white;
}

.nav-links-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-right: 50px;
    margin: 0;
    a {
        width: 120px;
        margin-left: 20px;
    }
    
}

.page-link-item {
    width: 120px;
}

.page-link-item :active {
    text-decoration: none;
    color: white;
}

.button-item {
    width: 120px;
}

.cart-item {
    font-size: 18px
}

@media (max-width: 509px) {
    .nav-links-group {
        flex-direction: column;
    }

    .page-link-item {
        margin-top:3px;
        margin-bottom: 3px;
    }

    .button-item {
        width: 120px;
        height: 30px;
        padding: 2px;
    }

}