@import '../../index.scss';

.header-app {
    height: 10vh;
    width: 100%;
    // background: lightblue;
    border-bottom: solid 1px darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: rgb(21, 32, 68);
    color: white;

}

.nav-links-group {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.page-link-item {
    color: white;
    text-decoration: none;
}

.page-link-item :active {
    text-decoration: none;
    color: white;
}

.cart-item {
    font-size: 18px
}


@media (max-width: 509px) {
    .nav-links-group {
        flex-direction: column;
    }
}