.modal-wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.store-modal {
    height: 80vh;
    width: 800px;
    background: rgb(212, 230, 246);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 24px;
}

.image-full {
    width: 500px ;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        padding: 0px 20px 0px 20px;
        height: 80%;
    }
}

.cart-info {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-text {
    margin: 0;
    font-size: 16px;
    color: rgb(92, 92, 92);
}

.close-button {
    width: 15px;
    padding-right: 5px;
    span {
      font-size: 30px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .store-modal {
        height: 80vh;
        width: 600px;
    }

    .image-full {
        width: 300px ;
    
        img {
            padding: 0px 20px 0px 20px;
            height: 50%;
        }
    }

    .cart-info {
        width: 235px;
    }
}

@media (min-width: 510px) and (max-width: 699px) {
    .store-modal {
        height: 90vh;
        width: 400px;
        flex-direction: column;
    }

    .image-full {
        width: 400px ;
        height: 40%;
    
        img {
            padding: 0px 20px 0px 20px;
            height: 80%;
        }
    }

    .cart-info {
        width: 400px;
        align-items: center;
    }

    .close-button {
        order: -1;
        align-self: flex-end; 
    } 
}

@media (max-width: 509px) {
    .store-modal {
        height: 90vh;
        width: 400px;
        flex-direction: column;
    }

    .image-full {
        width: 400px ;
        height: 40%;
    
        img {
            padding: 0px 20px 0px 20px;
            height: 80%;
        }
    }

    .cart-info {
        width: 400px;
        align-items: center;
    }

    .close-button {
        order: -1;
        align-self: flex-end; 
    } 
}

@media (max-width: 410px) {
    .store-modal {
        height: 90vh;
        width: 320px;
        flex-direction: column;
    }

    .image-full {
        width: 320px ;
        height: 40%;
    
        img {
            padding: 0px 20px 0px 20px;
            height: 80%;
        }
    }

    .cart-info {
        width: 320px;
        align-items: center;
    }

    .close-button {
        order: -1;
        align-self: flex-end; 
    } 
}
